/* ------------ */
/* section 1 */
/* ------------ */
.barang-section-1 {
    max-width: 100%;
    z-index: 1;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url(../assets/pusatinformasi/info-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Spectral SC", serif;
    overflow-x: hidden;
    padding-top: 100px;
}

.barang-header {
    padding-bottom: 1rem;
    border-bottom: 2px solid #e7c38d;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    font-size: 21px;
    padding: 10px 20px;
    position: relative;
}

.btn-transparent.active {
    color: #317F80;
}

/* Garis bawah untuk tombol yang aktif */
.btn-transparent.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #317F80;
    position: absolute;
    bottom: 0;
    left: 0;
}

.barang-card {
    overflow: hidden;
    position: relative;
    /* width: 1025px;
    height: 75px; */
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 10px 10px;
    aspect-ratio: 4/5;
    /* display: flex; */
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease;
}

.barang-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.barang-card img {
    transition: transform 0.3s ease;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    aspect-ratio: 1/1;
}

.barang-card img:hover {
    transform: scale(1.05);
}

.barang-wanita-text {
    padding: 2rem;
    width: 65%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(17px);
    border-radius: 23px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
}