/* ------------- */
/* section 1 */
/* ------------- */
.home-section-1 {
  width: 100%;
  height: 91vh;
  position: absolute;
  /* overflow: hidden; */
  background-color: #ffffff;
  background-image: url(../assets/home/BG.png);
  background-size: cover;
  background-position: center;
  font-family: "Merriweather Sans", serif;
}

.home-section-1 img {
  width: 200px; 
  height: auto;
}

.home-section-1 h1 {
  position: absolute;
  font-size: 8.5rem;
}

.logo-ospek {
  margin: 0;
  padding: 0;
}

.wave-svg {
  position: absolute;
  top: 50%; /* Tetap berada di bawah tulisan */
  left: 0;
  width: 100%;
  z-index: 0; /* SVG tetap berada di bawah elemen lainnya */
  pointer-events: none; 
}

/* ------------- */
/* end section 1 */
/* ------------- */


/* -------------- */
/* responsive */
/* -------------- */
/* Small Phone(max-width: 480px) */
@media (max-width: 480px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 {
    flex-direction: column; /* Tata letak vertikal */
    gap: 8px; /* Jarak antar elemen diperkecil */
  }

  .home-section-1 h1 {
    font-size: 2.5rem; 
  }

  .logo-ospek img {
    width: 150px; /* Perkecil logo */
  }

}

/* Large Phone (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */  
  .home-section-1 h1 {
    font-size: 4.5rem;
    font-weight: 700;
  }

}

/* tablet */
@media (min-width: 768px) and (max-width: 1025px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 h1 {
    font-size: 6rem;
  }
}


/* Desktop (1441px - 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 h1 {
    font-size: 12.5rem;
  }
}

/* Large Monitor +1921px */
@media (min-width: 1921px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 h1 {
    font-size: 14rem;
  }
}