section {
  min-height: 100vh;
}

/* ------------- */
/* section 1 */
/* ------------- */
.home-section-1 {
  width: 100%;
  /* height: 91vh; */
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  z-index: 1;
  /* overflow: hidden; */
  background-color: #ffffff;
  background-image: url(../assets/home/BG.png);
  background-size: cover;
  background-position: center;
  /* font-family: "Merriweather Sans", serif; */
}

.home-section-1 img {
  width: 200px; 
  height: auto;
}

.home-section-1 h1 {
  position: absolute;
  font-size: 8.5rem;
}

.logo-ospek {
  margin: 0;
  padding: 0;
}

.wave-svg {
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Sayap Kiri */
.sayap-kiri {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.sayap-kiri img {
  height: 100%;
  width: auto;
}

/* Sayap Kanan */
.sayap-kanan {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.sayap-kanan img {
  height: 100%;
  width: auto;
}
/* ------------- */
/* end section 1 */
/* ------------- */

/* ------------- */
/* section 2 */
/* ------------- */
.home-section-2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  z-index: 1;
  background-color: #ffffff;
  background-image: url(../assets/home/bg-22.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  font-family: "Spectral SC", serif;
}

.home-section-2-text {
  padding: 2rem;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(17px);
  border-radius: 23px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
}
/* ------------- */
/* end section 2 */
/* ------------- */

/* -------------- */
/* section 3 */
/* -------------- */
.home-section-3 {
  background-color: #122b26;
  /* background-image: url(../assets/home/bg-17.png); */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  z-index: 4;
  overflow: visible;
  /* transition: transform 0.3s ease-out;
  transform: translateY(100px); */
}

.wave-svg-2 {
  position: absolute !important ;
  top: -370px;
  left: 0;
  /* height: auto; */
  width: 100%;
  /* z-index: -1; */
  pointer-events: none;
}

.home-section-3 h2 {
  font-family: "Yellowtail", serif;
  font-weight: 700;
  font-style: normal;
  /* color: var(--tertiary); */
  color: #ffee00;
  font-size: 50px;
}

.home-section-3 h1 {
  /* font-family: "Open Sans", serif; */
  font-weight: 800;
  font-variation-settings:
    "wdth" 100;
  font-size: 80px;
  letter-spacing: 10px;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 2px #48CFCB;
  position: relative;
  top: 0;
  transform: scaleY(1.5);
}

.home-section-3 p {
  color: #FFFFFFFF;
}

.home-section-3 h1,
.home-section-3 h2,
.home-section-3 p {
  position: relative; /* Pastikan elemen ini di atas */
  z-index: 5; /* Lebih tinggi dari SVG */
}
/* --------------- */
/* end section 3 */
/* --------------- */

/* batas */
.custom-shape-divider-top-1739805712 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1739805712 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.custom-shape-divider-top-1739805712 .shape-fill {
  fill: #122B26;
}

/* --------------- */
/* section 4 */
/* --------------- */
.home-section-4 {
  background-image: url(../assets/home/bg-11.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  z-index: 8;
  position: relative;
  height: 100vh
}

/* tidak tahu darimana */
/* .pin-spacer {
  background-image: url(../assets/home/bg-11.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.logo-scroll-container {
  display: flex;
  width: 550vw;
  height: 100vh;
}

.logo-section {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-section img {
  width: 300px;
  height: auto;
  margin: 10px;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 500px;
  z-index: 2;
}

.tatakan {
  max-width: 500px;
  z-index: 1;
}

.scroll-text h1 {
  /* font-family: "Open Sans", serif; */
  font-weight: 600;
  font-variation-settings:
    "wdth" 100;
  font-size: 70px;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 2px var(--primary);
  transform: scaleY(1.5);
}

.scroll-text p {
  font-size: 25px;
  color: var(--primary);
  font-weight: 700;
}

.custom-shape-divider-bottom-1739863208 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1739863208 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1739863208 .shape-fill {
  fill: #FFFFFF;
}
/* --------------- */
/* end section 4 */
/* --------------- */


/* ------------- */
/* section 5 */
/* ----------- */
.home-section-5 {
  background-color: #FFFFFF;
  background-image: url(../assets/home/bg-20.png);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  z-index: 9;
}

.home-section-5 h1 {
  /* font-family: "Open Sans", serif; */
  font-weight: 800;
  /* font-variation-settings:    "wdth" 100; */
  font-size: 70px;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 2px #11c7a6;
  top: 0;
  margin-top: 50px;
  transform: scaleY(1.5);
  transform-origin: top;
  -webkit-transform: scaleY(1.5);
  -moz-transform: scaleY(1.5);
  -ms-transform: scaleY(1.5);
  -o-transform: scaleY(1.5);
  line-height: 0.8;
}

.text-container {
  padding-top: 60px;
  margin-bottom: 20px; /* Beri jarak antara teks dan gambar */
}

/* card */
.wallet {
  --bg-color: #52AD9C;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.card {
  width: 220px;
  height: 321px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.card-content {
  position: relative;
  z-index: 3;
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
/* --------------- */
/* end section 5 */
/* --------------- */

/* -------------- */
/* responsive */
/* -------------- */
/* Small Phone(max-width: 480px) */
@media (max-width: 480px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 {
    flex-direction: column; /* Tata letak vertikal */
    gap: 8px; /* Jarak antar elemen diperkecil */
  }

  .home-section-1 h1 {
    font-size: 2.5rem; 
  }

  .logo-ospek img {
    width: 150px; /* Perkecil logo */
  }
   /* ------------- */
  /* end section 1 */
  /* ------------- */

  /* ------------- */
  /* section 2 */
  /* ------------- */  
  .home-section-2 h1 {
    font-size: 30px;
  }

  .home-section-2 h2 {
    font-size: 25px;
  }
  /* ------------- */
  /* end of section 2 */
  /* ------------- */  

  /* ------------- */
  /* section 3 */
  /* ------------ */
  .home-section-3 h1 {
    font-size: 60px;
  }

  .home-section-3 p {
    font-size: 12px !important;
  }
  
  /* ------------- */
  /* section 4 */
  /* ------------- */
  .logo-scroll-container {
    width: 600vw;
    height: 100vh;
  }

  /* Logo Section */
  .logo-section {
    width: 100vw;
    height: auto;
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  /* Mengatur ukuran logo agar tidak terlalu besar */
  .logo-section img {
    width: 130px;
    height: auto;
    margin: 5px;
  }

  /* Mengurangi ukuran teks agar tetap nyaman dibaca */
  .scroll-text h1 {
    font-size: 30px;
  }

  .scroll-text p {
    font-size: 16px;
    font-weight: 600;
  }

  /* Mengatur ulang posisi elemen agar tetap seimbang */
  .logo-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-text h1 {
    font-size: 24px;
  }

  .logo-text p {
    font-size: 12px;
  }
}

/* Large Phone (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */  
  .home-section-1 h1 {
    font-size: 4.5rem;
    font-weight: 700;
  }
  /* ------------- */
  /* end section 1 */
  /* ------------- */  

  /* ------------- */
  /* section 2 */
  /* ------------- */  
  .home-section-2 {
    background-size: 150%;
  }

  .home-section-2 h1 {
    font-size: 45px;
  }

  .home-section-2 h2 {
    font-size: 30px;
  }
  /* ------------- */
  /* end of section 2 */
  /* ------------- */  

  /* ------------- */
  /* section 3 */
  /* ------------ */
  .home-section-3 p {
    font-size: 14px !important;
  }

  /* ------------- */
  /* section 4 */
  /* ------------- */
  .custom-shape-divider-top-1739805712 svg {
    width: calc(100% + 1.3px);
    height: 110px;
  }

  .logo-scroll-container {
    width: 600vw;
    height: 100vh;
  }

  /* Logo Section */
  .logo-section {
    width: 100vw;
    height: auto;
    flex-direction: column; /* Stack item secara vertikal */
    padding: 40px 20px;
    text-align: center;
  }

  /* Mengatur ukuran logo agar tidak terlalu besar */
  .logo-section img {
    width: 150px;
    height: auto;
    margin: 5px;
  }

  /* Mengurangi ukuran teks agar tetap nyaman dibaca */
  .scroll-text h1 {
    font-size: 40px;
  }

  .scroll-text p {
    font-size: 18px;
    font-weight: 600;
  }

  /* Mengatur ulang posisi elemen agar tetap seimbang */
  .logo-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-text h1 {
    font-size: 26px;
  }

  .logo-text p {
    font-size: 14px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1025px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 h1 {
    font-size: 6rem;
  }

  /* ------------- */
  /* end of section 1 */
  /* ------------- */  

  /* ------------- */
  /* section 2 */
  /* ------------- */  
  .home-section-2 h1 {
    font-size: 60px;
  }
  /* ------------- */
  /* end of section 2 */
  /* ------------- */  

  /* ----------------- */
  /* section 3 */
  /* ----------------- */
  .home-section-3 p {
    font-size: 18px !important;
  }

  /* ------------- */
  /* section 4 */
  /* ------------- */
  .scroll-text h1 {
    font-size: 45px;
  }

  .logo-text h1 {
    font-size: 30px !important;
  }

  .logo-text p {
    font-size: 14px !important;
  }
}


/* Desktop (1441px - 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 h1 {
    font-size: 12.5rem;
  }

  /* -------------- */
  /* section 2 */
  /* ------------- */
  .home-section-2 .content {
    margin-top: 150px;
  }

  .home-section-2 h1 {
  font-size: 110px;
  }

  .home-section-2 p {
    font-size: 50px;
  }

  /* ------------ */
  /* section 3 */
  /* ------------ */
  .home-section-3 h1 {
    font-size: 120px;
  }

  /* ------------- */
  /* section 4 */
  /* ------------- */
  .scroll-text h1 {
    font-size: 85px;
  }

  .scroll-img img {
    width: 350px;
  }

  .logo-section img {
    width: 450px;
  }

  .logo-text h1 {
    font-size: 60px !important;
  }

  .logo-text p {
    font-size: 20px !important;
  }
}

/* Large Monitor +1921px */
@media (min-width: 1921px) {
  /* ------------- */
  /* section 1 */
  /* ------------- */
  .home-section-1 h1 {
    font-size: 14rem;
  }
}