/* font use */
/* .font {
    font-family: "Baskervville SC", serif;
    font-family: "Spectral SC", serif;
    font-family: "Merriweather Sans", serif;
} */

body {
    overflow-x: hidden;
}

/* --------- */
/* Section 1 */
/* --------- */
.fakultas-section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    z-index: 1;
    background-color: #ffffff;
    background-image: url(../assets/jurusan/jurusan-bg.png);
    background-size: cover;
    background-position: center;
    font-family: "Spectral SC", serif;
}

.fakultas-banner {
    width: 100%;
    height: 60rem;
    text-align: center;
    overflow: hidden;
}

.fakultas-section::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 13%;
    top: 0;
    background: linear-gradient(to top, rgba(231, 229, 229, 0), rgb(255, 253, 253));
}

.fakultas-section::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background: linear-gradient(to top, rgb(19, 29, 20), rgba(21, 34, 22, 0));
}

.fakultas-header {
    margin-top: 7.5rem;
}

.fakultas-banner h1,
.fakultas-banner h2 {
    font-family: "Spectral SC", serif;
}

.fakultas-banner .slider {
    position: absolute;
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    transform: perspective(800px);
    animation: autoRun 49s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1200px) rotateX(-2deg) rotateY(0deg);
    }

    to {
        transform: perspective(1200px) rotateX(-2deg) rotateY(360deg);
    }
}

/* biar enteng ;v */

.fakultas-banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(500px);
}

.fakultas-banner .slider .item p {
    padding-top: 0.8rem;
    margin: auto;
    font-size: 0.9rem;
}

.fakultas-banner .slider .item h4 {
    border-radius: 10px 10px 40px 40px;
    margin: auto;
    padding: 1rem;
    box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
    width: 12rem;
    height: 18rem;
    font-family: "Spectral SC", serif;
    text-align: center;
    background-color: rgba(189, 207, 196, 0.7);
}


/* --------- */
/* section 2 */
/* --------- */

.prodi-section {
    width: 100%;
    position: relative;
    display: flex;
    z-index: 1;
    font-family: "Spectral SC", serif;
    background-image: url(../assets/jurusan/jurusan-bg2.png);
    background-size: cover;
    background-position: center;
}

.prodi-section::before {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 10%;
    top: 0;
    background: linear-gradient(to top, rgba(231, 229, 229, 0), rgb(19, 29, 20));
}

.prodi-header {
    margin-top: 7.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.content-prodi {
    padding-top: 3rem;
    padding-bottom: 7rem;
    background-size: cover;
    position: relative;
    justify-items: center;
    justify-content: center;
}

.prodi-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    grid-template-rows: auto auto auto;
    gap: 5rem;
    margin-top: 1rem;
    padding: 0;
    z-index: 1;
    max-width: 100%;
    position: relative;
    justify-items: center;
    perspective: 800px;
    /* Efek 3D */
}

.prodi-card {
    padding: 1.3rem;
    width: 25rem;
    height: 23rem;
    margin: 0rem 3rem 0rem 3rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    font-size: 1.1rem;
    border: solid 0.7rem rgba(255, 253, 253, 0);
    box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
    transition: transform 0.5s ease-out;
    transform-style: preserve-3d;
    cursor: default;
}

.prodi-card:hover {
    transform: translateZ(-13px);
    box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 1);
    color: #e7c38d;
    text-shadow: 1px 1px 2px rgb(19, 29, 20);
}

.prodi-card p {
    padding: 0;
    font-size: 1.3rem;
}

/* regular smartphone */
@media (max-width: 480px) {

    .fakultas-header {
        margin-top: 3.5rem;
        font-size: 1.4rem;
    }

    .fakultas-header h3 {
        margin-top: 3.5rem;
        font-size: 1.4rem;
    }

    .fakultas-section::before {
        height: 10%;
    }

    .fakultas-banner .slider {
        left: 50%;
        transform: perspective(200px);
    }

    @keyframes autoRun {
        from {
            transform: perspective(1200px) rotateX(-2deg) rotateY(0deg);
        }

        to {
            transform: perspective(1200px) rotateX(-2deg) rotateY(360deg);
        }
    }

    .fakultas-banner .slider .item {
        position: absolute;
        inset: 0 0 0 0;
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .fakultas-banner .slider .item h4 {
        border-radius: 7px 7px 20px 20px;
        padding: 0.3rem;
        padding-top: 0.6rem;
        font-size: 1rem;
        width: 8rem;
        height: 12rem;
    }

    .fakultas-banner .slider .item p {
        padding-top: 0.8rem;
        margin: auto;
        font-size: 0.57rem;
    }

    .prodi-section::before {
        height: 3%;
    }

    .prodi-header {
        margin-top: 3.5rem;
    }

    .prodi-header h1 {
        font-size: 1.5rem;
    }

    .prodi-header h2 {
        font-size: 1.4rem;
    }

    .content-prodi {
        padding-top: 2rem;
    }

    .prodi-cards {
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
        gap: 1rem;
    }

    .prodi-card {
        padding: 0;
        width: 9.7rem;
        height: 10rem;
        margin: auto;
        line-height: 0.5;
        border-radius: 10px;
    }

    .prodi-card h3 {
        font-size: 1rem;
    }


    .prodi-card p {
        padding: 0;
        font-size: 0.6rem;
        line-height: 1.3;
        margin-top: -10px;
    }

    .prodi-card:nth-last-child(1) {
        display: none;
    }

}

/* Large Phone (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {

    .fakultas-section::before {
        height: 10%;
    }

    @keyframes autoRun {
        from {
            transform: perspective(2000px) rotateX(-2deg) rotateY(0deg);
        }

        to {
            transform: perspective(2000px) rotateX(-2deg) rotateY(360deg);
        }
    }

    .prodi-section::before {
        height: 3%;
    }

    .prodi-cards {
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        gap: 2rem;
    }

    .prodi-card {
        padding: 0.8rem;
        width: 15rem;
        height: 16rem;
    }

    .prodi-card:nth-last-child(1) {
        display: none;
    }

    .prodi-card h3 {
        font-size: 1rem;
    }

    .prodi-card p {
        font-size: 0.8rem;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1025px) {


    .fakultas-section::before {
        height: 12%;
    }

    .prodi-section::before {
        height: 5%;
    }

    @keyframes autoRun {
        from {
            transform: perspective(1600px) rotateX(-2deg) rotateY(0deg);
        }

        to {
            transform: perspective(1600px) rotateX(-2deg) rotateY(360deg);
        }
    }

    .fakultas-banner .silder .item p {
        font-size: 0.7rem;
    }

    .prodi-cards {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    }

    .prodi-card {
        padding: 1rem;
        width: 20rem;
        height: 18rem;
    }

    .prodi-card:nth-last-child(1) {
        display: none;
    }

    .prodi-card h3 {
        font-size: 1.3rem;
    }

    .prodi-card p {
        font-size: 1rem;
    }

}


/* Desktop (1441px - 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {}

/* Large Monitor +1921px */
@media (min-width: 1921px) {}