* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* height: 8000px; */
  /* overscroll-behavior: none; Mencegah efek overscroll di mobile */
  /* -webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
  scroll-behavior: smooth; 
  /* overflow-x: hidden; */
  margin: 0;
  font-family: "Spectral SC", serif;
}

/* warna utama */
:root {
  --primary: #1E453E;
  --secondary: #317F80;
  --tertiary: #Cc9933;
}

/* navbar */
.navbar-transparent {
  background-color: rgba(255, 255, 255, 0); /* Transparan penuh */
  position: absolute; /* Agar berada di depan */
  width: 100%; /* Sesuai lebar layar */
  z-index: 1000; /* Pastikan berada di atas konten lain */
}

.navbar-transparent .nav-link {
  color: black; /* Warna teks menu putih (ubah jika perlu) */
}

.navbar-transparent .navbar-brand img {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); /* Bayangan untuk logo */
}
