* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* height: 8000px; */
  /* overscroll-behavior: none; Mencegah efek overscroll di mobile */
  /* -webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
  font-family: "Spectral SC", serif;
}

/* warna utama */
:root {
  --primary: #1E453E;
  --secondary: #317F80;
  --tertiary: #Cc9933;
}

p {
  margin-bottom: 0;
}

.navbar {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  transition: all 0.3s ease-in-out;
  margin-bottom: 0 !important;
  /* background-color: #1E453E; */
}

.navbar-nav {
  background-color: #1E453E;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.nav-link {
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.nav-link:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  text-shadow: 0px 0px 5px rgba(255, 255, 255);
}

.navbar-brand img {
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  position: relative;
  z-index: 1005;
  top: -5px;
  -webkit-transition: transform 0.7s ease, box-shadow 0.7s ease;
  -moz-transition: transform 0.7s ease, box-shadow 0.7s ease;
  -ms-transition: transform 0.7s ease, box-shadow 0.7s ease;
  -o-transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.navbar-brand img:hover {
  transform: scale(1.5);
  /*Membesarkanlogosaathover*/:;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* smartphone kecil */
@media (max-width: 480px) {

}

/* smartphone besar */
@media (min-width: 481px) and (max-width: 767px) {

}

/* tablet */
@media (min-width: 768px) and (max-width: 1025px) {
  .nav-link {
    font-size: 14px;
    gap: 0;
  }
}

/* desktop */
@media (min-width: 1441px) and (max-width: 1920px) {
  .nav-link {
    font-size: 22px;
  }
}

/* large monitor */
@media (min-width: 1921px) {

}




