.navbar {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  transition: all 0.3s ease-in-out;
  margin-bottom: 0 !important;
  /* background-color: #1E453E; */
}

.navbar-nav {
  background-color: #1E453E;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.nav-link {
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.nav-link:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  text-shadow: 0px 0px 5px rgba(255, 255, 255);
}

.navbar-brand img {
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  position: relative;
  z-index: 1005;
  top: -5px;
  -webkit-transition: transform 0.7s ease, box-shadow 0.7s ease;
  -moz-transition: transform 0.7s ease, box-shadow 0.7s ease;
  -ms-transition: transform 0.7s ease, box-shadow 0.7s ease;
  -o-transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.navbar-brand img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* mobile close button  */
.close-btn {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

/* Overlay untuk efek gelap */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

/* Overlay aktif */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ----------- */
/* responsive */
/* ------------ */
@media (min-width: 992px) {
  #mobileNavMenu {
      display: none !important;
  }
  #mobileSidebarToggle {
      display: none !important;
  }
}


@media (max-width: 991px) {
  .mobile-sidebar {
    position: fixed;
    right: -300px; 
    top: 0;
    width: 300px;
    height: 100%;
    background: rgba(30, 69, 62, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .mobile-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .mobile-sidebar ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .mobile-sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }

  .mobile-sidebar ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  /* Saat menu aktif */
  .mobile-sidebar.active {
    right: 0;
  }

  /* Tombol toggle */
  .navbar-toggler {
    background: white;
    border: none;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
  }

  /* Hide default navbar menu in mobile */
  @media (max-width: 991px) {
    #navbarNav {
        display: none !important;
    }
  }


}



