.panitia-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    z-index: 1;
    background-color: #ffffff;
    background-image: url(../assets/jurusan/jurusan-bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Spectral SC", serif;
}

.panitia-section::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background: linear-gradient(to top, rgba(231, 229, 229, 0), rgb(255, 253, 253));
}

.panitia-section::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(to top, rgba(19, 29, 20, 1), rgba(21, 34, 22, 0));
}

.panitia-banner {
    margin: auto;
    min-height: inherit;
    justify-content: center;
    align-items: center;
}

.panitia-header {
    margin-top: 7.5rem;
    text-align: center;
}

.btn-group {
    margin: auto;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
}

.btn-transparent.active {
    color: #317F80;
}

/* Garis bawah untuk tombol yang aktif */
.btn-transparent.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #317F80;
    position: absolute;
    bottom: 0;
    left: 0;
}

#tabel-mahasiswa,
#tabel-mahasiswi {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(17px);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.75);
    padding: 2rem;
    margin-bottom: 7rem;
}

#tabel-mahasiswa tr:nth-child(1),
#tabel-mahasiswa tr .sections,
#tabel-mahasiswi tr .sections,
#tabel-mahasiswi tr th {
    text-align: center;
}

#tabel-mahasiswa tr td:nth-child(1),
#tabel-mahasiswa tr td:nth-last-child(1) {
    display: none;
}

#tabel-mahasiswa tr td,
#tabel-mahasiswa tr th,
#tabel-mahasiswi tr td,
#tabel-mahasiswi tr th {
    border: 1px solid black;
    padding: 2px 5px;
}

/* regular smartphone */
@media (max-width: 480px) {
    .panitia-section::before {
        height: 70px;
    }

    .panitia-section::after {
        height: 70px;
    }

    #tabel-mahasiswa tr td,
    #tabel-mahasiswa tr th,
    #tabel-mahasiswi tr td,
    #tabel-mahasiswi tr th {
        font-size: 0.7rem;
    }

    .panitia-header {
        margin-top: 3.5rem;
        text-align: center;
    }


}

/* Large Phone (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    .panitia-section::before {
        height: 70px;
    }

    #tabel-mahasiswa tr td,
    #tabel-mahasiswa tr th,
    #tabel-mahasiswi tr td,
    #tabel-mahasiswi tr th {
        font-size: 0.9rem;
    }

    .panitia-section::after {
        height: 70px;
    }

    .panitia-header {
        margin-top: 3.5rem;
        text-align: center;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1025px) {}