.info-section {
    max-width: 100%;
    position: relative;
    display: flex;
    z-index: 1;
    min-height: 150vh;
    background-color: #ffffff;
    background-image: url(../assets/pusatinformasi/info-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Spectral SC", serif;
    overflow-x: hidden;
}

.info-section::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 7%;
    top: 0;
    background: linear-gradient(to top, rgba(231, 229, 229, 0), rgb(255, 253, 253));
}

.info-section::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(to top, rgba(19, 29, 20, 1), rgba(21, 34, 22, 0));
}

.info-banner {
    height: 100vh;
}

.info-header {
    margin-top: 7.5rem;
    text-align: center;
    border-bottom: 2px solid #e7c38d;
}

.info-header h5 {
    margin-bottom: 1rem;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    margin-top: 50px;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #aed1c8;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 7s linear forwards;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
}

@keyframes moveline {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.cont {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    color: black;
    animation: movedown 0.7s linear forwards;
    opacity: 0;
}

.cont:nth-child(1) {
    animation-delay: 0s;
}

.cont:nth-child(2) {
    animation-delay: 0.6s;
}

.cont:nth-child(3) {
    animation-delay: 1.2s;
}

.cont:nth-child(4) {
    animation-delay: 1.8s;
}

.cont:nth-child(5) {
    animation-delay: 2.4s;
}

.cont:nth-child(6) {
    animation-delay: 3s;
}

.cont:nth-child(7) {
    animation-delay: 3.6s;
}

.cont:nth-child(8) {
    animation-delay: 4.2s;
}

.cont:nth-child(9) {
    animation-delay: 4.8s;
}

.cont:nth-child(10) {
    animation-delay: 5.4s;
}

.cont:nth-child(11) {
    animation-delay: 6s;
}

.cont:nth-child(12) {
    animation-delay: 6.6s;
}

.cont:nth-child(13) {
    animation-delay: 7.2s;
}

.text-box {
    backdrop-filter: blur(40px);
    padding: 10px 0px 0px 20px;
    background-color: rgba(221, 220, 220, 0.7);
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
}

.left-cont {
    left: 0;
}

.right-cont {
    left: 50%;
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.text-box h5 {
    font-weight: 600;
    margin: 0;
}

.text-box small {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 1rem;
}

.text-box small span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-cont .icon {
    position: absolute;
    right: -26px;
    top: 6px;
    z-index: 10;
    border-radius: 50%;
    font-family: "Kanit", serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #497a6f;
    background-color: #497a6f;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 5px;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    text-shadow:
        -1px -1px 0px #f3eae3,
        /* Bayangan ke kiri atas */
        1px -1px 0px #e9e1db,
        /* Bayangan ke kanan atas */
        -1px 1px 0px #dacdc2,
        /* Bayangan ke kiri bawah */
        1px 1px 0px #dba67a;
    /* Bayangan ke kanan bawah */
}

.right-cont .icon {
    position: absolute;
    border-radius: 50%;
    left: -26px;
    top: 6px;
    z-index: 10;
    border-radius: 50%;
    font-family: "Kanit", serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #497a6f;
    background-color: #497a6f;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 5px;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.75);
    text-shadow:
        -1px -1px 0px #f3eae3,
        /* Bayangan ke kiri atas */
        1px -1px 0px #e9e1db,
        /* Bayangan ke kanan atas */
        -1px 1px 0px #dacdc2,
        /* Bayangan ke kiri bawah */
        1px 1px 0px #dba67a;
    /* Bayangan ke kanan bawah */
}

@media (max-width: 480px) {
    .info-section::before {
        height: 5%;
    }

    .info-header h5 {
        font-size: 1rem;
    }

    .info-header {
        margin-top: 3.5rem;
    }

    .timeline {
        padding-bottom: 100px;
        margin: 50px auto;
    }

    .timeline::before {
        left: 31px;
    }

    .cont {
        width: 100%;
        padding-left: 70px;
        padding-right: 15px;
    }

    .text-box {
        padding: 10px 10px 0px 10px;
        border-radius: 1rem;
    }

    .text-box h5 {
        font-size: 1rem;
    }

    .text-box small {
        font-size: 0.75rem;
        margin-bottom: 10px;
    }

    .right-cont {
        left: 0;
    }

    .left-cont .icon,
    .right-cont .icon {
        font-size: 1rem;
        left: 8px;
        top: 12px;
        width: 34px;
        height: 34px;
    }
}

@media (min-width: 481px) and (max-width: 765px) {
    .info-section::before {
        height: 5%;
    }

    .info-header {
        margin-top: 3.5rem;
    }

    .timeline {
        margin: 50px auto;
        padding-bottom: 100px;
    }

    .timeline::before {
        left: 31px;
    }

    .cont {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 0.4rem;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-cont {
        left: 0;
    }

    .left-cont .icon,
    .right-cont .icon {
        left: 3px;
        top: 12px;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .timeline {
        padding-bottom: 100px;
        margin: 200px auto;
        margin-top: 50px;
    }

    .timeline::before {
        left: 31px;
    }

    .cont {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-cont {
        left: 0;
    }

    .left-cont .icon,
    .right-cont .icon {
        left: 3px;
    }
}