/* ------------ */
/* section 1 */
/* ------------ */
.ukm-section-1 {
    /* margin-top: 100px; */
    max-width: 100%;
    /* position: relative;
    display: flex; */
    z-index: 1;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url(../assets/pusatinformasi/info-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Spectral SC", serif;
    overflow-x: hidden;
    padding-top: 100px;
}

.ukm-header {
    padding-bottom: 1rem;
    border-bottom: 2px solid #e7c38d;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    font-size: 21px;
    padding: 10px 20px;
    position: relative;
}

.btn-transparent.active {
    color: #317F80;
}

/* Garis bawah untuk tombol yang aktif */
.btn-transparent.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #317F80;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ukm-card {
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    padding: 1.1rem;
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    aspect-ratio: 10/9;
}

.ukm-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ukm-card:hover>.card-body {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0.5px 0.5px 1px rgb(19, 29, 20, 0.5);
}

.ukm-card img {
    transition: transform 0.3s ease;
    mix-blend-mode: darken;
    padding-bottom: 2rem;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.ukm-card .card-body {
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    margin-bottom: 1.2rem;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.6);
}

.card-body p {
    font-size: 1.2rem;
}

@media (min-width: 1026px) and (max-width: 1200px) {
    .btn-transparent {
        font-size: 18px;
    }

    .ukm-card {
        border-radius: 25px;
        box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
    }

    .ukm-card .card-body {
        padding: 0;
        border-radius: 5px;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        margin-bottom: 1.5rem;
    }

    .card-body p {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    .btn-transparent {
        font-size: 15px;
    }

    .ukm-card {
        width: 200px;
        border-radius: 15px;
        box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        padding: 0.6rem;
    }

    .ukm-card .card-body {
        padding: 0;
        border-radius: 5px;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
    }

    .card-body p {
        font-size: 0.9rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .btn-transparent {
        font-size: 12px;
    }

    .ukm-card {
        width: 200px;
        padding: 0.6rem;
        border-radius: 15px;
        box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
    }

    .ukm-card .card-body {
        padding: 0;
        border-radius: 5px;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
    }

    .card-body p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .btn-transparent {
        font-size: 14px;
    }

    .ukm-card {
        border-radius: 15px;
        padding: 0.5rem;
        box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
    }

    .ukm-card .card-body {
        padding: 0;
        border-radius: 5px;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.5);
    }

    .card-body p {
        font-size: 0.8rem;
    }
}